<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="../css/mall.css" type="text/css" rel="stylesheet">
    <link href="../css/common.css" type="text/css" rel="stylesheet">
    <script src="../js/pages/about.js" async></script>
    <script src="../js/rem.js"> </script>
</head>
<body id="about">
    <header><h1>我的</h1></header>
    <div class="container" style="padding-bottom:56px ">
        <section class="userInfo">
            <dl class="info">
                <dt><img src=""  onerror="javascript:this.src='../images/default.jpg'"></dt>
                <dd > 18801775514
                <p class="tel"></p>
            </dd>
            </dl>
            <ul class="account">
                <li>
                    <p class="num " ></p>
                    <p class="num " >0.00</p>
                    <p>账户余额</p>
                </li>
                <li>
                    <p class="num "></p>
                    <p class="num ">0.00</p>
                    <p>优卡积分</p>
                    <p><button class="btn greBtn">积分充值</button><button class="btn greBtn">积分兑换</button><p>
                </li>
            </ul>
        </section>
        <ul class="list">
            <li><a href="listorder.html" >我的订单</a></li>
        </ul>
        <ul class="list">
            <li><a href="myCombo.html" >我的套餐（有效期至2016-11-01）</a></li>
        </ul>
        <ul class="list">
            <li><a href="active.html" >0元购激活</a></li>
        </ul>
        <ul class="list">
            <li><a href="discount.html" >优惠券</a></li>
        </ul>
        <ul class="list">
            <li><a href="#myAdd" onclick="myAdd()">地址管理</a></li>
        </ul>
        <ul class="list">
            <li><a href="newpwd.html" >修改密码</a></li>
        </ul>
        <ul class="list">
            <li>客服电话<span><a href="tel:4006009367" class="right blue">400-600-9367</a></span></li>
        </ul>
        <ul class="list">
            <li><a href="umanual.html" >优卡使用说明</a></li>
        </ul>
        <ul class="list">
            <li><a href="regards.html" >关于我们</a></li>
        </ul>
        <p><a class="a_button danger_a">退出登录</a></p>
    </div>
    <div class="footer">
        <div id="user_default_footer" class="default_foot" style=" display: block" >
            <a href="#main" class="icon homes" data-transition="slide:back">首页</a>
            <a href="#listof" class="icon ifications" data-transition="slide">分类</a>
            <a  class="icon shopping" >购物车<i class="af-badge">1</i></a>
            <a class="icon personal" href="about.html">我的</a>
        </div>
    </div>
</body>
<script>


</script>
</html>