<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="../css/mall.css" type="text/css" rel="stylesheet">
    <link href="../css/common.css" type="text/css" rel="stylesheet">
    <script src="../js/rem.js"></script>
</head>
<body id="aftersale">
<header><a class="back" onclick="window.history.back()"></a><h1>关于</h1></header>
<div class="container" style="padding-left:3% ;padding-right: 3%">
    <p class="regrardtitle font-normal">退换货声明</p>
    <p class="regrardContent font-small font-grey">
        为了您的利益，请收到货物后仔细清点检查您订购的商品。如商品配送有误、包装破损、产品腐烂、数量不对等问题，请当面及时向配送人员提出，以便我们能尽快的为您处理。<br>
        客服热线：
        <a href="tel:4006009367" style="color:#2953E5">4006009367</a><br>
        1、	退换货发生时，由于客户原因造成的退货，我们只退回商品的货款金额，原订单如有相应运费恕不退还，如果是上门安排退货，还需加收送货费；如因我方原因或商品质量问题而造成的退货，将退还您商品的货款金额及相应运费。<br>
        2、	由于生鲜产品特殊性，新鲜蔬菜和部分特殊商品（商品中会说明）只受理当场投诉，一旦签收，我们将不再接受退换货要求。<br>
        3、	如因客户个人原因造成质量问题的商品，恕不退换。<br>
        4、	订单中如有特惠品，退货时，如不满足特惠品赠送条件，需将特惠品一同退回。如特惠品一经拆封或食用，则订单商品只换不退。如有不便，敬请谅解。<br>
        5、	退货需要退回发票及配送单（客户联），请于购买商品后妥善保管购物发票及配送单，如因客户原因无法退回发票或配送单（客户联）的，将可能导致无法进行退货，因此而产生的不利后果，将会由您承担。<br>
        6、	对于货物数量缺失的情况，我们只受理当场投诉，即货物配送到家后，客户当面清点货物数量并及时向配送员提出的投诉。一旦签收，我们将不受理此退换要求。<br>
        7、	通常情况下，一张订单只能进行一次退换货操作，所以为了确保您的权益，请您考虑周全后与我们联系。
    </p>
</div>
</body>
</html>