<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, minimal-ui">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link href="../css/product/allkinds.css" rel="stylesheet">
        <link href="../css/common.css" type="text/css" rel="stylesheet">
        <script src="../3rd/jq/jquery.js"></script>
        <script src="../js/rem.js"></script>
    </head>
    <body>
        <header><a class="back" onclick="window.history.back()"></a><h1>所有分类</h1></header>
        <div class="container">
            <div class="r-board">
                <button data-href="#pingpai" class="apingpai-pressed" id="apingpai"></button>
                <button data-href="#shiping" id="ashiping"></button>
                <button data-href="#shengxian" id="ashengxian"></button>
                <button data-href="#baihuo" id="abaihuo"></button>
                <button data-href="#shenghuo" id="ashenghuo"></button>
            </div>
            <div class="l-board">
                <div class="list active" id="pingpai">
                    <!---->
                    <p class="title">全部品牌</p>
                    <!--list-->
                    <dl>
                        <dt>A</dt>
                        <dd>AASDASDASAASDASDASDAASDASDASDAASDASDASDAASDASDASDAASDASDASDAASDASDASDAASDASDASDAASDASDASDAASDASDASDD</dd>
                        <dd>ASDASD</dd>
                        <dd>ASDASDASD</dd>
                    <dl>
                    <!--list-->
                </div>
                <div class="list" id="shiping">

                    <dl>
                        <!--list-->
                        <dt>超级巧克力</dt>
                        <dd>
                            <a class="dlabel">超级巧</a>
                            <a class="dlabel">超级巧克力</a>
                            <a class="dlabel">超级巧克力超级巧克力超级巧克力超级巧克力</a>
                        </dd>
                        <!--list-->
                    <dl>

                </div>
                <div class="list" id="shengxian">
                    <!--list-->
                    <dl>
                        <dt>超级巧克力</dt>
                        <dd><a class="dlabel">超级巧</a></dd>

                        <dl>
                    <!--list-->
                </div>
                <div class="list" id="baihuo">
                    <!--list-->
                    <dl>
                        <dt>超级巧克力</dt>
                        <dd><a class="dlabel">超级巧</a></dd>

                        <dl>
                    <!--list-->
                </div>
                <div class="list"  id="shenghuo">
                    <!--list-->
                    <dl>
                        <dt>超级巧克力</dt>
                        <dd><a class="dlabel">超级巧</a></dd>
                    <dl>
                    <!--list-->
                </div>

            </div>
        </div>
        <div class="footer">
            <div id="user_default_footer" class="default_foot" style=" display: block" >
                <a name="footerButton1" href="#main" class="icon homes" data-transition="slide:back">首页</a>
                <a name="footerButton2" href="#listof" class="icon ifications" data-transition="slide">分类</a>
                <a name="footerButton3" class="icon shopping" >购物车<i class="af-badge">1</i></a>
                <a name="footerButton4" class="icon personal" href="about.html">我的</a>
            </div>
        </div>
    </body>
    <script>
        //选中分类
        $(document).ready(function(){
            $('a[name^="footerButton"]').removeClass('pressed');
            $('a[name="footerButton2"]').addClass('pressed');
        })
        $('.r-board button').click(function(){
            //隐藏列表
            $('.list').css('display','none');
            //点击切换背景
            $('.r-board button').each(function(){
                var h=$(this).attr('data-href').split('#')[1];
                var c='a'+h+'-pressed';
                $(this).removeClass(c);
            })
            var sty=$(this).attr('data-href').split('#')[1];
            var b=$(this).attr('data-href');
            var c='a'+sty+'-pressed';
            var t='#a'+sty;
            $(this).addClass(c);
            //显示当前
            $(b).css('display','block');
        })
    </script>
</html>