<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="../css/mall.css" type="text/css" rel="stylesheet">
    <link href="../css/common.css" type="text/css" rel="stylesheet">
    <script src="../js/rem.js"></script>
</head>
<body id="business">
<header><a class="back" onclick="window.history.back()"></a><h1>关于</h1></header>
<div class="container" style="padding-left:3% ;padding-right: 3%">
    <p class="regrardtitle font-normal">推广及广告合作：  </p>
    <p class="regrardContent font-small font-grey">
        上海优悦信息科技有限公司依托智能冰箱互动平台，与生鲜电商联合打造「互联网冰箱+生鲜配送」的差异化消费模式，并为用户提供各类家庭生活场景化服务。同时，借助「一箱好货」，打造自由电商，为用户提供更快捷、更优质、更精准的购物服务。
        <br>
        我们欢迎母婴、化妆、酒店、健康、美食等行业的企业与我们合作，为用户提供更优质的产品和服务。<br>
        内容及资源合作<br>Kokko.shen@unilifemedia.com<br>MP：<a href="tel:13817320430">13817320430</a><br> 广告合作<br>Kokko.shen@unilifemedia.com<br>MP：<a href="tel:13817320430">13817320430</a> <br>技术合作<br>
        Kevin.wang@unilifemedia.com<br>
        MP：<a href="tel:18621070227">18621070227</a><br>
        家电厂商合作<br>Wangxiao@unilifemedia.com<br>MP：<a href="tel:13916481176">13916481176</a>
    </p>
</div>
</body>
</html>