<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="../css/mall.css" type="text/css" rel="stylesheet">
    <link href="../css/common.css" type="text/css" rel="stylesheet">
    <script src="../js/rem.js"></script>
    <style>
        html,body{width: 100%;height: 100%;background: #f3f3f3;}
    </style>
</head>
    <body id="myCombo">
        <header><a class="back" onclick="window.history.back()"></a><h1>我的套餐</h1></header>
        <div class="container" style="height:100%;">
                <img style="width: 100%;height: auto" src="../images/shops/charge.jpg">
                <div class="integral" style="width: 90%;margin: 0 auto;padding-bottom: 15%">
                    <p style=" height: 1.6rem;">充值卡号</p>
                    <section class="" style=" width: 100%;display: block;">
                        <input type="text" style="width: 86%"  placeholder="卡号区分大小写">
                        <!--
                            <input type="text" style="width: 20%;" ng-keyup="changeValue()" name="code" ng-model="cardNum[0]" tabindex="0" class="ng-valid ng-dirty">
                            <input type="text" style="width: 20%;" ng-keyup="changeValue()" name="code" ng-model="cardNum[0]" tabindex="0" class="ng-valid ng-dirty">
                            <span style="display: inline-block;width: 2%;overflow: hidden">一</span>
                            <input type="text" style="width: 20%;" ng-keyup="changeValue()" name="code" ng-model="cardNum[1]" tabindex="1" class="ng-valid ng-dirty">
                            <span style="display: inline-block;width: 2%;;overflow: hidden">一</span>
                            <input type="text" class="ng-valid ng-dirty" style="width: 20%;" ng-keyup="changeValue()" name="code" ng-model="cardNum[2]" tabindex="2">
                            <span style="display: inline-block;width: 2%;;overflow: hidden">一</span>
                            <input type="text" class="ng-valid ng-dirty" style="width: 20%;" ng-keyup="changeValue()" name="code" ng-model="cardNum[3]" tabindex="3">
                            *
                            -->
                    </section>
                    <p style=" line-height: 1.6rem;">密码</p>
                    <section>
                        <input type="password" style="width: 45%; height: 2.6rem" ng-model="password" class="ng-valid ng-dirty ng-pristine" placeholder="请输入密码">
                        <button ng-click="checkCharge()" style=" background: #39b54a; color: #ffffff;height: 2.6rem;width: 5.78rem;border: none;border-radius: .4rem;margin-left: 9%;font-size: 1rem">确认充值</button>
                    </section>
                </div>
        </div>
    </body>
    <script>
        (function (win,dom){
            var clear=true;
            var inputs=dom.querySelectorAll('input');
            var length=inputs.length;
            var targetPosition;
            for(var i=0;i<length ;i++){
                var input=inputs[i];
                input.addEventListener('focus',function(){
                    var offsetTop=this.getBoundingClientRect().top;
                    console.log(offsetTop);
                    var height=this.getBoundingClientRect().height;
                    var fontSize=parseFloat(dom.querySelector('html').style.fontSize);
                    dom.querySelector('.container').style.marginTop=60+height-offsetTop+'px';
                })
                input.addEventListener('blur',function(){
                    var e=win.event.target;
                    console.log(e);
                    dom.querySelector('.container').style.marginTop=44+'px';
                })
            }
        })(window,document)
    </script>
</html>