<!DOCTYPE html>
<html lang="en">
<head>
	<title>【一箱好货】传说得到这本“姨妈十三式”秘籍，姨妈会乖哦</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   
    
    <link href="../css/mall.css" type="text/css" rel="stylesheet">
    <link href="../css/common.css" type="text/css" rel="stylesheet">
    <script src="../js/rem.js"></script>


    <script src="../3rd/jq/jquery.js"></script>
</head>
<body id="umanual_a">


<div class="a_topionc_goods">
	<img src="../images/shops/love/btn_home_menu_01_normal.png"  >
</div>
<div class="activity_a">
    <img src="../images/shops/chocolate/p1_01.jpg" style="width: 100%;height:auto" >
</div>
<div class="activity_a">
    <img src="../images/shops/chocolate/p1_02.jpg" style="width: 100%;height:auto" >
</div>
<div class="activity_a">
     <img src="../images/shops/chocolate/p2_01.jpg" style="width: 100%;height:auto" >
</div>
<!-- 商品 -->
<div class="activity_a">
     <img src="../images/shops/chocolate/p2_02.jpg" style="width: 100%;height:auto" >
</div>
<!-- 商品 -->
 <div class="activity_a">
     <img src="../images/shops/chocolate/p2_03.jpg" style="width: 100%;height:auto" >
</div>

 <div class="activity_a">
     <img src="../images/shops/chocolate/p2_04.jpg" style="width: 100%;height:auto" >
</div>
 <div class="activity_a">
     <img src="../images/shops/chocolate/p2_05.jpg" style="width: 100%;height:auto" >
</div>
 <div class="activity_a">
     <img src="../images/shops/chocolate/p2_06.jpg" style="width: 100%;height:auto" >
</div>
<!-- 商品 -->
<div class="activity_a activity_xiang">
    
         <img src="../images/shops/chocolate/p3_01.jpg" style="width: 100%;height:auto">
          <div class="chocolate_a">
         	<span>
            	<i>￥</i>48.80
            </span>
            <span>
            	<i>￥</i>48.80
            </span>
         </div>
          <div class="activity_x">
            <a href="#">
         	</a>
            <a href="#">
            </a>
         </div>
</div>
<div class="activity_a activity_xiang">
    
         <img src="../images/shops/chocolate/p3_02.jpg" style="width: 100%;height:auto" >
         <div class="chocolate_a">
         	<span>
            	<i>￥</i>48.80
            </span>
            <span>
            	<i>￥</i>48.80
            </span>
         </div>
      <div class="activity_x">
     	 <a href="#">
     	
    	 </a>
         <a href="#">
            
         </a>
     </div>
</div>

<!-- 商品 -->
 <div class="activity_a">
 	<a href="http://mobile.unilifemedia.com/uweb/service/appshop/activity/goods ">
     <img src="../images/shops/chocolate/p4_01.jpg" style="width: 100%;height:auto" >
     </a>
</div> 

 <div class="activity_a">
     <img src="../images/shops/chocolate/p4_02.jpg" style="width: 100%;height:auto" >
</div> 

</body>
</html>