<!DOCTYPE html>
<html lang="en">
<head>
	<title>【一箱好货】传说得到这本“姨妈十三式”秘籍，姨妈会乖哦</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   
    
    <link href="../css/mall.css" type="text/css" rel="stylesheet">
    <link href="../css/common.css" type="text/css" rel="stylesheet">
    <script src="../js/rem.js"></script>


    <script src="../3rd/jq/jquery.js"></script>
</head>
<body id="umanual_a">


<div class="a_topionc_goods">
	<img src="../images/shops/love/btn_home_menu_01_normal.png"  >
</div>
<div class="a_christmas">
	<ul>
    	<li>
        	<a href="#a">
            	<img src="../images/shops/christmas/btn_xian.png">
            </a>
        </li>
        <li>
        	<a href="#b">
            	<img src="../images/shops/christmas/btn_nuan.png">
            </a>
        </li>
        <li>
        	<a href="#c">
            	<img src="../images/shops/christmas/btn_qiao.png">
            </a>
        </li>
    </ul>
</div>

<div class="activity_a"id="a">
 	<img src="../images/shops/christmas/01_01.jpg" style="width: 100%;height:auto" >
</div>

<!--以下商品-->
<div class="activity_a" >
    <a href="#"><img src="../images/shops/christmas/01_02.jpg" style="width: 100%;height:auto" ></a>
</div>
<div class="activity_a">
    <a href="#"><img src="../images/shops/christmas/02.jpg" style="width: 100%;height:auto" ></a>
</div>
<div class="activity_a" id="b">
    <a href="#"><img src="../images/shops/christmas/03.jpg" style="width: 100%;height:auto" ></a>
</div>
<div class="activity_a">
    <a href="#"><img src="../images/shops/christmas/04.jpg" style="width: 100%;height:auto" ></a>
</div>
<div class="activity_a" id="c">
    <a href="#"><img src="../images/shops/christmas/05.jpg" style="width: 100%;height:auto" ></a>
</div>
<div class="activity_a">
    <a href="#"><img src="../images/shops/christmas/06.jpg" style="width: 100%;height:auto" ></a>
</div>     
</body>
</html>