<!DOCTYPE html>
<html lang="en">
<head>
	<title>【一箱好货】这么好的东西，宁愿剁手也要抢</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   
    
    <link href="../css/mall.css" type="text/css" rel="stylesheet">
    <link href="../css/common.css" type="text/css" rel="stylesheet">
    <script src="../js/rem.js"></script>


    <script src="../3rd/jq/jquery.js"></script>
    <script>
		$(document).ready(function(){
			$(document).scroll(function(){
				var top = $(document).scrollTop();
				if(top > 200){
					$(".doublue_a").addClass('a_doubl');
					}else{
						$(".doublue_a").removeClass('a_doubl');
						}
					
			});
		});
	</script>
</head>
<body id="umanual_a">


<div class="a_topionc_double">
	<img src="../images/double_12/btn_home.png"  >
</div>
<div class="activity_a">
    <img src="../images/double_12/banner_02.jpg" style="width: 100%;height:auto" >
</div>
<div class="doublue_a">
	<ul class="doublue">
	<li class="doublue_on">
    	<a href="#1">养颜红枣</a>
    </li>
    <li>
    	<a href="#2">坚果/饼干</a>
    </li>
    <li>
    	<a href="#3">水果/大米</a>
    </li>
    <li>
    	<a href="#4">啤酒狂欢</a>
    </li>
    <li>
    	<a href="#5">居家用品</a>
    </li>
</ul>
	
</div>

<!-- 第一张 -->
<div class="activity_a" style=" padding-top:8%; position:relative"id="1">
<div class="a_boul">
	<img src="../images/double_12/bg_01.png">
</div>
    <img src="../images/double_12/a10.jpg" style="width: 100%;height:auto" >
</div>

<div class="activity_a" >
    <img src="../images/double_12/a9.jpg" style="width: 100%;height:auto" >
</div>
<div class="activity_a" id="2">
     <img src="../images/double_12/a8.jpg" style="width: 100%;height:auto" >
</div>
<!-- 第一张 -->
<div class="activity_a">
     <img src="../images/double_12/a7.jpg" style="width: 100%;height:auto" >
</div>
 <div class="activity_a"id="3">
     <img src="../images/double_12/a6.jpg" style="width: 100%;height:auto" >
</div>
<!-- 第一张 -->
 <div class="activity_a">
     <img src="../images/double_12/a5.jpg" style="width: 100%;height:auto" >
</div>
 <div class="activity_a" id="4">
     <img src="../images/double_12/a4.jpg" style="width: 100%;height:auto" >
</div> 
<!-- 第一张 -->
 <div class="activity_a">
     <img src="../images/double_12/a3.jpg" style="width: 100%;height:auto" >
</div> 
<!-- 跳转专题 -->
 <div class="activity_a" id="5">
     	 <img src="../images/double_12/a2.jpg" style="width: 100%;height:auto" >
</div> 
 <div class="activity_a" >
     <img src="../images/double_12/a1.jpg" style="width: 100%;height:auto" >
</div>                
</body>
</html>