<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="../css/mall.css" type="text/css" rel="stylesheet">
    <link href="../css/common.css" type="text/css" rel="stylesheet">
    <script src="../js/confirm.js"></script>
    <script src="../js/rem.js"></script>
</head>
<body>
<body id="detailorder">
<header><a class="back" onclick="window.history.back()"></a><h1>查看物流</h1></header>
<div  class="container">
    <div class="list-goods">
        <ul>
            <li class="texture"><span class="name">收货地址：</span><span class="content">上海市徐汇区桂平路418号A座603室上海市徐汇区桂平路418号A座603室上海市徐汇区桂平路418号A座603室</span></li>
            <li class="texture"><span class="name">物流公司：</span><span class="content">中通</span></li>
            <li class="texture"><span class="name">订单号：</span><span class="content">C1068</span></li>
        </ul>
    </div>

    <div class="list-goods">
        <div class="title font-small">物流信息</div>
        <div id="expressInfo">
            <dl>
                <dt>
                <p></p>
                </dt>
                <dd>
                    <p class="ng-binding">烟台开发区八角镇 的 xhds 已收件</p>
                    <p style="color:#898989;" class="ng-binding">2016-04-15 16:20:48</p>
                </dd>
            </dl>
            <dl>
                <dt>
                <p></p>
                </dt>
                <dd>
                    <p class="ng-binding">烟台开发区八角镇 的 xhds 已收件</p>
                    <p style="color:#898989;" class="ng-binding">2016-04-15 16:20:48</p>
                </dd>
            </dl>
            <dl>
                <dt>
                <p></p>
                </dt>
                <dd>
                    <p class="ng-binding">烟台开发区八角镇 的 xhds 已收件</p>
                    <p style="color:#898989;" class="ng-binding">2016-04-15 16:20:48</p>
                </dd>
            </dl>
            <dl>
                <dt>
                <p></p>
                </dt>
                <dd>
                    <p class="ng-binding">烟台开发区八角镇 的 xhds 已收件</p>
                    <p style="color:#898989;" class="ng-binding">2016-04-15 16:20:48</p>
                </dd>
            </dl>
        </div>
    </div>
</div>
</body>

</body>
</html>