<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="../css/mall.css" type="text/css" rel="stylesheet">
    <link href="../css/common.css" type="text/css" rel="stylesheet">
    <script src="../js/rem.js"></script>
</head>
<body id="umanual">
<div class="a_topionc">
	<img src="../images/shops/gratitude/home.png" style="width: 100%;height:auto" >
</div>
<div class="activity_a">
    <img src="../images/shops/gratitude/a_01.jpg" style="width: 100%;height:auto" >
</div>
<div class="activity_a">
    <img src="../images/shops/gratitude/a_02.jpg" style="width: 100%;height:auto" >
</div>
<div class="activity_a">
   <img src="../images/shops/gratitude/a_03.jpg" style="width: 100%;height:auto" >
</div>
<div class="activity_a">
   <img src="../images/shops/gratitude/a_04.jpg" style="width: 100%;height:auto" >
</div>
<div class="activity_a">
    <img src="../images/shops/gratitude/a_05.jpg" style="width: 100%;height:auto" >
</div>
<div class="activity_a">
   <img src="../images/shops/gratitude/a_06.jpg" style="width: 100%;height:auto" >
</div>
<div class="activity_a">
   <img src="../images/shops/gratitude/a_07.jpg" style="width: 100%;height:auto" >
</div>
<div class="activity_a">
   <img src="../images/shops/gratitude/a_08.jpg" style="width: 100%;height:auto" >
</div>
<div class="activity_a">
   <img src="../images/shops/gratitude/a_09.jpg" style="width: 100%;height:auto" >
</div>
<div class="activity_a">
   <img src="../images/shops/gratitude/a_10.jpg" style="width: 100%;height:auto" >
</div>
<div class="activity_a">
   <img src="../images/shops/gratitude/a_11.jpg" style="width: 100%;height:auto" >
</div>
<div class="activity_a">
   <img src="../images/shops/gratitude/a_12.jpg" style="width: 100%;height:auto" >
</div>
<div class="activity_a">
   <img src="../images/shops/gratitude/a_13.jpg" style="width: 100%;height:auto" >
</div>
</body>
</html>