<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script  src="../3rd/mui/mui.min.js"></script>
    <link href="../3rd/mui/mui.min.css" type="text/css" rel="stylesheet">
    <link href="../css/common.css" type="text/css" rel="stylesheet">
    <link href="../css/product/levelTwo.css" rel="stylesheet" type="text/css">
    <script src="../js/rem.js"></script>
    <script src="../3rd/jq/jquery.js"></script>
</head>
<body id="levelTwo">
<header class="font-grey font-normal"><a class="back " onclick="window.history.back()"></a>休闲食品<button class="right search"></button></header>
<div class="segmented-body">
    <!--二级分类 start-->
    <div id="Hscroll" class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted un-segmented-control">
        <div class="mui-scroll">
            <a href="" class="mui-control-item ">
                全部
            </a>
            <a href="" class="mui-control-item">
                滋补养生
            </a>
            <a href="" class="mui-control-item">
                滋补养生
            </a>
            <a href="" class="mui-control-item">
                滋补养生
            </a>
            <a href="" class="mui-control-item">
                滋补养生
            </a>
            <a href="" class="mui-control-item">
                滋补养生
            </a>
            <a href="coupon.html" class="mui-control-item mui-active">
                滋补养生
            </a>
            <div class="slide-dd"></div>
        </div>
    </div>
    <div class="un-order-list" >
        <ul>
            <li name="sort"  sort="-3">人气从高到低</li>
            <li name="sort"  sort="-2">销量从高到低</li>
            <li name="sort"  sort="-1">价格从高到低</li>
            <li name="sort" class="pressed"  sort="1">价格从低到高</li>
        </ul>
    </div>
    <!--二级分类 end-->
    <!--正序是class=order uo-->
    <button class="order down" onclick="showlist()">人气</button>
</div>
<!--上拉下拉刷新 start-->
<div id="pullrefresh" class="mui-content mui-scroll-wrapper">
    <div class="mui-scroll">
        <!--当分类商品不为空的时 start-->
        <ul class="mui-table-view mui-grid-view un-table-view un-table-view" id="productUl">
            <li class="mui-table-view-cell mui-media mui-col-xs-6 un-table-view-cell">
                <a   href="">
                    <div class="un-label">
                        <img src="http://192.168.2.85/static/project/appshop/images/label_prop_freedelivery.png?t=2016122114" class="baoyou">
                        <img src="http://192.168.2.85/static/project/appshop/images/label_prop_freedelivery.png?t=2016122114" class="baoyou">
                        <img src="http://192.168.2.85/static/project/appshop/images/label_prop_freedelivery.png?t=2016122114" class="baoyou">
                    </div>
                    <img class="mui-media-object" src="../images/shops/default.jpg">
                    <div class="mui-media-body no-padding-bottom"><span class="pingpai">严选</span>精选品质手法红糖糖糖糖糖</div>
                    <div class="mui-media-body no-padding-top">100公斤100公斤100公斤100公斤100公斤100公斤100公斤100公斤100公斤100公斤100公斤100公斤100公斤100公斤100公斤</div>
                    <div class="mui-media-body"><span class="price">￥12321</span></div>
                </a>
            </li>
        </ul>
        <div class="nomore">没有更多</div>
        <!--当分类商品不为空的时 end-->
        <!--当分类商品为空的时 start-->
        <!--
        <div class="empty-board">
            <div class="empty"></div>
            <p>抱歉! 再无相关商品</p>
        </div>
        -->
        <!--当分类商品为空的时 end-->
    </div>
    <div class="mask"></div>
</div>

<!--上拉下拉刷新 end-->
<!--底部foote-->
<div class="footer">
    <div id="user_default_footer" class="default_foot" style=" display: block" >
        <a name="footerButton1" href="#main" class="icon homes" data-transition="slide:back">首页</a>
        <a name="footerButton2" href="#listof" class="icon ifications" data-transition="slide">分类</a>
        <a name="footerButton3" class="icon shopping" >购物车<i class="af-badge">1</i></a>
        <a name="footerButton4" class="icon personal" href="about.html">我的</a>
    </div>
</div>
</body>
<script>
    (function(){
        movedd();
        setFooter(2);
    })();
    //移动下方横条
    function movedd(){
        var  Hscroll= document.getElementById('Hscroll')
        var width=Hscroll.getElementsByClassName('mui-active')[0].clientWidth;
        var dwidth=Hscroll.getElementsByClassName('slide-dd')[0].clientWidth;
        var swidth=Hscroll.getElementsByClassName('mui-active')[0].getBoundingClientRect().left;
        var all=swidth+width/2-dwidth/2;
        var tranform='transform:translateX('+all+'px)';
        document.getElementsByClassName('slide-dd')[0].setAttribute('style',tranform);
    }
    //设置 当前footer
    function setFooter(index){
        var cp='a[name="footerButton'+index+'"]';
        $('a[name^="footerButton"]').removeClass('pressed');
        $(cp).addClass('pressed');
    }
    //点击排序按钮
    function showlist(){
        var list=document.getElementsByClassName('un-order-list')[0];
        var mask=document.getElementsByClassName('mask')[0];
        var display = document.defaultView.getComputedStyle(list, null).display;
        switch (display){
            case 'block':
                list.setAttribute('style','display:none');
                mask.setAttribute('style','display:none');
                break;
            case 'none':
                list.setAttribute('style','display:block');
                mask.setAttribute('style','display:block');
                break;
        }
    }
    //横向分页点击
    mui('#Hscroll').on('tap','a',function(){
        try{
            window.location.href=this.href;
        }catch (e){
            throw new Error('当前链接为空')
        }
    });
    mui.init();

    mui.init({
        pullRefresh: {
            container: '#pullrefresh',
            up: {
                contentrefresh: '正在加载...',
                contentnomore:'已经到底啦~',
                callback: pullupRefresh
            }
        }
    });

    /**
     * 下拉刷新具体业务实现
     */

    var count=50;
    var offset=20;
    var template=$(
            '<li class="mui-table-view-cell mui-media mui-col-xs-6 un-table-view-cell">'+
            '<a   href="">'+
            '<div class="un-label">'+
            '<img src="http://192.168.2.85/static/project/appshop/images/label_prop_freedelivery.png?t=2016122114" class="baoyou">'+
            '<img src="http://192.168.2.85/static/project/appshop/images/label_prop_freedelivery.png?t=2016122114" class="baoyou">'+
            '<img src="http://192.168.2.85/static/project/appshop/images/label_prop_freedelivery.png?t=2016122114" class="baoyou">'+
            '</div>'+
            '<img class="mui-media-object" src="../images/shops/default.jpg">'+
            '<div class="mui-media-body no-padding-bottom"><span class="pingpai">严选</span>精选品质手法红糖糖糖糖糖</div>'+
            '<div class="mui-media-body no-padding-top">100公斤100公斤100公斤100公斤100公斤100公斤100公斤100公斤100公斤100公斤100公斤100公斤100公斤100公斤100公斤</div>'+
            '<div class="mui-media-body"><span class="price">￥12321</span></div>'+
            '</a>'+
            '</li>'
    );
    //上拉下拉
    function pullupRefresh() {
        var container=document.getElementsByClassName('mui-table-view')[0];
        for (var i = 0, len =10; i < len; i++) {
            var li = template.clone(true)[0];
            count--;

            container.appendChild(li);

        }
        if(!count){
            //没过更多商品时停止上拉加载
            mui('#pullrefresh').pullRefresh().endPullupToRefresh(true);
            console.log('没有更多');
        }else {
            //还有剩余商品时停止上拉加载
            mui('#pullrefresh').pullRefresh().endPullupToRefresh();
        }
    }
    //当页面首次加载的数据小于分页offset时直接关门上拉加载
    (function(){
        try{
            var length=document.getElementsByClassName('mui-table-view')[0].childNodes.length-2;
        }catch(e){
            var length=0;
        }
        if(length<offset){
            document.getElementsByClassName('nomore')[0].setAttribute('style','display:block');
            mui('#pullrefresh').pullRefresh().endPullupToRefresh(true);
        }
    })()
    console.log();

</script>
</html>