<!DOCTYPE html>
<html style="height: 100%">

<head>
    <meta charset="utf-8">
    <title>一箱好货</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!--标准mui.css-->
    <!--App自定义的css-->
    <!--/自己编写css--->
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/main.css">
    <!--标准mui.js-->
    <!--控制字体大小的JS-->
    <script src="../js/rem.js"></script>
</head>

<body style="max-width: 640px; position:relative; height: 100%; margin: 0 auto; overflow: hidden">

<!--列表-->
<div class="main main_b main_boot">
    <div class="a_search_c">
        <div class="search_c" >
            <div class="search_c_right">
                <a href="#search" data-transition="down">
                    <p> 搜索关键字</p>
                </a>
            </div>
        </div>
    </div>

    <!-- 热门搜索 -->
    <div class="listof_a">
        <div class="listof_left">
            <ul>
                <li class="selected">新鲜水果</li>
                <li>新鲜水果</li>
                <li>新鲜水果</li>
                <li>新鲜水果</li>
                <li>新鲜水果</li>
                <li>新鲜水果</li>
            </ul>
        </div>
        <div class="listof_right">
            <ul>
                <li>
                    <img src="../images/shops/pingguo.png">
                    <p>
                       国产水果
                    </p>
                </li>
                <li>
                    <img src="../images/shops/pingguo.png">
                    <p>
                        国产水果
                    </p>
                </li>
                <li>
                    <img src="../images/shops/pingguo.png">
                    <p>
                        国产水果
                    </p>
                </li>
                <li>
                    <img src="../images/shops/pingguo.png">
                    <p>
                        国产水果
                    </p>
                </li>
                <li>
                    <img src="../images/shops/pingguo.png">
                    <p>
                        国产水果
                    </p>
                </li>
                <li>
                    <img src="../images/shops/pingguo.png">
                    <p>
                        国产水果
                    </p>
                </li>
                <li>
                    <img src="../images/shops/pingguo.png">
                    <p>
                        国产水果
                    </p>
                </li>
                <li>
                    <img src="../images/shops/pingguo.png">
                    <p>
                        国产水果
                    </p>
                </li>
                <li>
                    <img src="../images/shops/pingguo.png">
                    <p>
                        国产水果
                    </p>
                </li>
                <li>
                    <img src="../images/shops/pingguo.png">
                    <p>
                        国产水果
                    </p>
                </li>
            </ul>
        </div>
        <div class="listof_bottom" >
            <ul>
                <li>
                    <img src="../images/logo.png">
                </li>
                <li>
                    <img src="../images/logo.png">
                </li>
                <li>
                    <img src="../images/logo.png">
                </li>
                <li>
                    <img src="../images/logo.png">
                </li>
                <li>
                    <img src="../images/logo.png">
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="footer">
    <div id="user_default_footer" class="default_foot" style=" display: block" >
        <a href="#main" class="icon homes" data-transition="slide:back">首页</a>
        <a href="#listof" class="icon ifications" data-transition="slide">分类</a>
        <a  class="icon shopping" >购物车<i class="af-badge">1</i></a>
        <a class="icon personal">我的</a>
    </div>
</div>
</body>
</html>