<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="../css/mall.css" type="text/css" rel="stylesheet">
    <link href="../css/common.css" type="text/css" rel="stylesheet">
    <script src="../js/rem.js"></script>
    <script src="../js/confirm.js" async></script>
    <script src="../js/pages/myAdd.js" async></script>
</head>
<body id="myAdd">
<header><a class="back" onclick="window.history.back()"></a><h1>地址管理</h1></header>
<div class="container" style="background:white">
    <ul class="address">
       <li>
           <p class="font-normal  name">高</p>
           <p class="font-small phone">18801775514</p>
           <p class="fon-smallest font-weak addr">上海上海市奉贤区89</p>
          <span class="set fon-smallest font-weak radiobox">
          <input  type="radio" name="a" value="428" yy-checked=true>
          <label  class="ng-binding">设为默认</label>
          </span><span class="edit fon-smallest font-weak"><a  class="iconDel " onclick="deleteAD()" >删除</a><a class="iconEdit" onclick="editAD()">编辑</a></span>
       </li>
        <li>
            <p class="font-normal  name">高</p>
            <p class="font-small phone">18801775514</p>
            <p class="fon-smallest font-weak addr">上海上海市奉贤区89</p>
          <span class="set fon-smallest font-weak radiobox">
          <input  type="radio" name="a" value="428"  yy-checked=false>
          <label  class="ng-binding">默认地址</label>
          </span><span class="edit fon-smallest font-weak"><a  class="iconDel " onclick="deleteAD()">删除</a><a class="iconEdit" onclick="editAD()">编辑</a></span>
        </li>
    </ul>
</div>
<footer>
    <div class="divCenter center">
        <button class="btn btn-biggest btn-red" onclick="addAddress()">添加新地址</button>
    </div>
</footer>
</body>
</html>