<html lang="en" style="font-size: 17.5px;"><head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="../css/common.css" type="text/css" rel="stylesheet">
    <link href="../css/mall.css" type="text/css" rel="stylesheet">

    <script src="../js/rem.js"></script>
</head>
<body id="myComboSub">
<header><a class="back" onclick="window.history.back()"></a><h1>套餐选择</h1></header>
<div class="container">
    <section class="whiteboard font-small font-grey tabline">
        <p  class="tabline-content">
          <span  class="tabline-text">
              高..<br>
            18801775514<br>
            上海市松江区古楼公路1885弄97号604室
          </span>
            <img src="../images/shops/back_shang.png" class="tabline-narrow">
        </p>
    </section>
    <section class="whiteboard font-small font-grey">海尔单卖套包680元</section>
    <section class="whiteboard font-small font-grey">快递费（每月可免费配送<span class="font-red">4</span>次）<span class="right">￥0.00</span></section>
    <section class="whiteboard font-small font-grey">海尔单卖套包680元</section>
    <section class="whiteboard font-small font-grey">精选紫条长茄350g<span class="right">×2</span></section>
    <section class="whiteboard"><button class="btn btn-mid btn-white-invearse right">取消订单</button><button class="btn btn-mid  btn-red-invearse right">立即提交</button></section>
</div>
</body>
</html>