<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="../css/mall.css" type="text/css" rel="stylesheet">
    <link href="../css/common.css" type="text/css" rel="stylesheet">
    <script src="../js/rem.js"></script>
</head>
<body id="register">
<header><a class="back" onclick="window.history.back()"></a><h1>修改密码</h1></header>
<div class="container">
    <form>
        <ul class="listReg">
            <li><label>旧密码：</label><input type="password" placeholder="请输入旧密码" name="password" ng-model="password" class=""></li>
            <li><label>新密码：</label><input type="password" placeholder="请输入新密码" name="password" ng-model="password" class=""></li>
            <li><label>新密码：</label><input type="password" placeholder="再次请输入新密码" name="password" ng-model="password" class=""></li>
        </ul>
    </form>
    <div class="center">
        <button class="btn btn-large btn-orange">提交</button>
    </div>
</div>
</body>
</html>