<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="../css/mall.css" type="text/css" rel="stylesheet">
    <link href="../css/common.css" type="text/css" rel="stylesheet">
    <script src="../js/rem.js"></script>
</head>
<body id="regards">
<header><a class="back" onclick="window.history.back()"></a><h1>关于</h1></header>
<div class="container">
    <ul class="list">
        <li><a href="regardsabout.html" >关于我们</a></li>
    </ul>
    <ul class="list">
        <li><a href="business.html">品牌合作</a></li>
    </ul>
    <ul class="list">
        <li><a href="aftersale.html" >售后服务</a></li>
    </ul>
</div>
</body>
</html>