<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="../css/mall.css" type="text/css" rel="stylesheet">
    <link href="../css/common.css" type="text/css" rel="stylesheet">
    <script src="../js/rem.js"></script>
</head>
<body id="regardsabout">
<header><a class="back" onclick="window.history.back()"></a><h1>关于</h1></header>
<div class="container" style="padding-left:3% ;padding-right: 3%">
    <p class="regrardtitle">一箱好货</p>
    <p class="regrardContent font-small font-grey">
        「一箱好货」于2016年正式上线，由上海优悦信息科技有限公司负责运营。<br>
        作为国内领先的智能冰箱服务平台，我们以全新的商业模式跨行业整合资源，不仅与海尔、惠而浦、苏宁等家电品牌厂商建立了深度合作关系，同时也有许多互联网合作伙伴，包括爱奇艺、豆果美食、苏宁易购、1号店、蜻蜓FM、PPTV等。<br>
        以家庭生活需求为导向，我们为用户提供一站式吃喝玩乐资讯，定制精准购物方案，从源头精选最值得买的好商品，为更多的普通消费者带来高品质的购物体验。
    </p>
</div>
</body>
</html>