<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="../css/mall.css" type="text/css" rel="stylesheet">
    <link href="../css/common.css" type="text/css" rel="stylesheet">
    <link href="../css/main.css" type="text/css" rel="stylesheet">
    <script src="../js/confirm.js"></script>
    <script src="../js/rem.js"></script>
    <script src="../3rd/jq/jquery.js"></script>
</head>
<body id="searchview">
    <header><input class="searchview-searchbar center" placeholder="输入关键词"  autofocus ></header>
    <div class="container" style="padding-bottom:56px">
        <ul class="searchview-tabs center">
            <li><button class="btn font-litter-Grey " tabindex="0">生鲜食材</button></li>
            <li><button class="btn font-litter-Grey searchview-tabs-active" tabindex="1">生鲜食材</button></li>
            <li><button class="btn font-litter-Grey" tabindex="2">生鲜食材</button></li>
            <li><button class="btn font-litter-Grey" tabindex="3">生鲜食材</button></li>
        </ul>
        <div class="searchview-kind " tabindex="0">
            <dl>
               <dt>新鲜水果 <a class="right">全部 >></a></dt>
                <dd>
                    <ul class="searchview-kind-ul">
                        <li class="searchview-kind-li"><a class="btn searchview-kind-button" >国产水果</a></li>
                    </ul>
                </dd>
            </dl>
            <dl>
                <dt>新鲜水果 <a class="right">全部 >></a></dt>
                <dd>
                    <ul class="searchview-kind-ul">
                        <li class="searchview-kind-li"><a class="btn searchview-kind-button" >国产水果</a></li>
                    </ul>
                </dd>
            </dl>
            <dl>
                <dt>新鲜水果 <a class="right">全部 >></a></dt>
                <dd>
                    <ul class="searchview-kind-ul">
                        <li class="searchview-kind-li"><a class="btn searchview-kind-button" >国产水果</a></li>
                    </ul>
                </dd>
            </dl>
            <dl>
                <dt>新鲜水果 <a class="right">全部 >></a></dt>
                <dd>
                    <ul class="searchview-kind-ul">
                        <li class="searchview-kind-li"><a class="btn searchview-kind-button" >国产水果</a></li>
                    </ul>
                </dd>
            </dl>
            <dl>
                <dt>新鲜水果 <a class="right">全部 >></a></dt>
                <dd>
                    <ul class="searchview-kind-ul">
                        <li class="searchview-kind-li"><a class="btn searchview-kind-button" >国产水果</a></li>
                    </ul>
                </dd>
            </dl>
            <dl>
                <dt>新鲜水果 <a class="right">全部 >></a></dt>
                <dd>
                    <ul class="searchview-kind-ul">
                        <li class="searchview-kind-li"><a class="btn searchview-kind-button" >国产水果</a></li>
                    </ul>
                </dd>
            </dl>
            <dl>
                <dt>新鲜水果 <a class="right">全部 >></a></dt>
                <dd>
                    <ul class="searchview-kind-ul">
                        <li class="searchview-kind-li"><a class="btn searchview-kind-button" >国产水果</a></li>
                    </ul>
                </dd>
            </dl>
            <dl>
                <dt>新鲜水果 <a class="right">全部 >></a></dt>
                <dd>
                    <ul class="searchview-kind-ul">
                        <li class="searchview-kind-li"><a class="btn searchview-kind-button" >国产水果</a></li>
                    </ul>
                </dd>
            </dl>
            <dl>
                <dt>新鲜水果 <a class="right">全部 >></a></dt>
                <dd>
                    <ul class="searchview-kind-ul">
                        <li class="searchview-kind-li"><a class="btn searchview-kind-button" >国产水果</a></li>
                    </ul>
                </dd>
            </dl>
        </div>
        <div class="searchview-kind searchview-kind-show" tabindex="1">
            <dl>
                <dt>海鲜水产 <a class="right">全部 >></a></dt>
                <dd>
                    <ul class="searchview-kind-ul">
                        <li class="searchview-kind-li"><a class="btn searchview-kind-button" >国产水果</a></li>
                    </ul>
                </dd>
            </dl>
        </div>
        <div class="searchview-kind " tabindex="2">
            <dl>
                <dt>肉禽蛋类 <a class="right">全部 >></a></dt>
                <dd>
                    <ul class="searchview-kind-ul">
                        <li class="searchview-kind-li"><a class="btn searchview-kind-button" >国产水果</a></li>
                    </ul>
                </dd>
            </dl>
        </div>
        <div class="searchview-kind " tabindex="3">
            <p class="center font-litter-Grey" style="height: 6rem;font-size: 1.5rem;line-height: 6rem">暂时没有这个分类的商品</p>
        </div>
    </div>
    <div class="footer">
        <div id="user_default_footer" class="default_foot" style=" display: block" >
            <a href="#main" class="icon homes" data-transition="slide:back">首页</a>
            <a href="#listof" class="icon ifications" data-transition="slide">分类</a>
            <a  class="icon shopping" >购物车<i class="af-badge">1</i></a>
            <a class="icon personal">我的</a>
        </div>
    </div>
</body>
<script>
    (function (){
        $('.searchview-tabs button').on('click',function(){
            $('.searchview-tabs button').each(function(){$(this).removeClass('searchview-tabs-active');});
            $(this).addClass('searchview-tabs-active');
            var tabindex=$(this).attr('tabindex');
            $('.searchview-kind-show').removeClass('searchview-kind-show');
            $('.searchview-kind').each(function(){if($(this).attr('tabindex').match(tabindex)){$(this).addClass('searchview-kind-show');}});})
        $('.searchview-kind-button').on('click',function(){
            $('.searchview-kind-button').each(function(){$(this).removeClass('searchview-kind-active')})
            $(this).addClass('searchview-kind-active')})
    })()
</script>
</html>