<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="../3rd/mui/mui.min.css" rel="stylesheet" type="text/css">
    <link href="../css/product/special.css" rel="stylesheet" type="text/css">
    <link href="../css/common.css" type="text/css" rel="stylesheet">
    <script src="../3rd/mui/mui.min.js"></script>
    <script src="../js/rem.js"> </script>
</head>
<body id="specials">
<div class="container" style="padding-bottom:56px;padding-top: 0 ">
    <div class="mui-content">
        <div  id="sliderPage" class="mui-slider font-grey" >
            <div class="mui-slider-group mui-slider-loop" id="sliderbanner">
                <!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张张轮播) -->
                <div class="mui-slider-item mui-slider-item-duplicate">
                    <a href="#">
                        <img src="../images/shops/yuantiao.jpg">
                    </a>
                </div>
                <div class="mui-slider-item mui-slider-item-duplicate">
                    <a href="#">
                        <img src="../images/shops/yuantiao.jpg">
                    </a>
                </div>
                <!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
                <div class="mui-slider-item mui-slider-item-duplicate">
                    <a href="#">
                        <img src="../images/shops/yuantiao.jpg">
                    </a>
                </div>
            </div>
            <div class="mui-slider-indicator">
                <div class="mui-indicator mui-active"></div>
            </div>
        </div>
    </div>
    <div class="time-board">
        <label class="label-right">火热抢购中，先下单先得</label>
        <label class="label-left">据结束：<span>72</span>时<span>23</span>分<span>72</span>秒</label>
    </div>
    <ul class="goods-lists-board">
        <li>
            <img src="../images/shops/default.jpg">
            <div class="detail">
                <p class="goods-name">商品商品商品商品商品商品商品商品商品商品商品商品商品商品商品商品商品商品商品商品商品</p>
                <p class="price-board"><span class="price">19.2</span><del class="markeprice">192</del></p>

                <a class="btn-red btn">立即抢购</a>
            </div>
        </li>
        <li>
            <img src="../images/shops/default.jpg">
            <div class="detail">
                <p class="goods-name">商品商品商品商品商品商品商品商品商品商品商品商品商品商品商品商品商品商品商品商品商品</p>
                <p class="price-board"><span class="price">19.2</span><del class="markeprice">192</del></p>
                <a class="btn-red btn">立即抢购</a>
            </div>
        </li>
        <li>
            <img src="../images/shops/default.jpg">
            <div class="detail">
                <p class="goods-name">商品商品商品商品商品商品商品商品商品商品商品商品商品商品商品商品商品商品商品商品商品</p>
                <p class="price-board"><span class="price">19.2</span><del class="markeprice">192</del></p>

                <a class="btn-disable btn" href="javascript:void (0)">已抢光</a>
            </div>
        </li>
    </ul>
</div>
</body>
</html>